<section id="galeria-banner-section">
    <div class="galeria-banner">
        <img src="./assests/img/galeria-banner.jpg" alt="Banner de galer&iacute;a">
        <div class="galeria-banner-title">
            <h1>Galer&iacute;a</h1>
        </div>
    </div>
</section>
<section id="galeria-section">
    <div class="galeria-container">
        <div>
            <ul>
                <li><img src="./assests/img/galeria-1.jpg" alt="Taza de caf&eacute;"></li>
                <li><img src="./assests/img/galeria-2.jpeg" alt="Tabla de productos"></li>
                <li><img src="./assests/img/galeria-3.jpg" alt="Taza de caf&eacute;"></li>
                <li><img src="./assests/img/galeria-4.jpeg" alt="Taza de caf&eacute; y granos de caf&eacute;"></li>
                <li><img src="./assests/img/galeria-5.jpg" alt="Taza de caf&eacute;"></li>
                <li><img src="./assests/img/galeria-6.jpg" alt="Cocina de la cafeter&iacute;a"></li>
                <li><img src="./assests/img/galeria-7.jpeg" alt="Taza de caf&eacute;"></li>
                <li><img src="./assests/img/galeria-8.jpg" alt="Granos de caf&eacute;"></li>
                <li><img src="./assests/img/galeria-9.jpg" alt="Taza de caf&eacute; y granos de caf&eacute;"></li>
                <li><img src="./assests/img/galeria-10.jpg" alt="Taza de caf&eacute;"></li>
                <li><img src="./assests/img/galeria-11.jpg" alt="Batido de caf&eacute;"></li>
                <li><img src="./assests/img/galeria-12.jpg" alt="Taza de caf&eacute;"></li>
                <li><img src="./assests/img/galeria-13.jpg" alt="Taza de caf&eacute; y panqueque"></li>
                <li><img src="./assests/img/galeria-14.jpg" alt="Cocina de la cafeter&iacute;a"></li>
            </ul>
        </div>
    </div>
</section>