<section id="banner-section">
    <div class="banner">
        <img src="./assests/img/home-banner.jpg" alt="Banner principal">
        <div class="banner-title">
            <h1>Coffee Shop</h1>
            <h1>Desde 1918</h1>
        </div>
    </div>
</section>
<section id="info-section">
    <div class="info-container">
        <div>
            <h2>¿Quienes Somos?</h2>
        </div>
        <div class="d-flex flex-direction-column">
            <div class="info">
                <div class="info-img-container">
                    <img src="./assests/img/info-cafeteria-vieja.jpeg" alt="Fachada antigua de la cafeter&iacute;a">
                </div>
                <div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque voluptate pariatur debitis itaque sit? Modi asperiores accusamus molestias soluta veritatis magni illo reiciendis repudiandae. Namincidunt nesciunt doloribus facere esse.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sint neque beatae omnis ut facere quos dolorum quod tempore. A magnam odit laboriosam distinctio eum quo, similique voluptatibus totam porro!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolor dolorum accusantium cum cumque ipsum doloremque commodi dicta eligendi libero! Perferendis maiores vel.</p>                                   
                </div>
            </div>
            <div class="info info-reverse">
                <div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat consectetur sequi atque in sit, ipsam tempora ullam sapiente rem incidunt similique molestias assumenda laudantium, labore numquam fuga accusamus beatae maiores.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam molestias tenetur mollitialabore amet, eaque soluta ad nobis. Impedit a placeat esse consectetur. Dolores excepturi dolor quia! Ducimus, sequi eos.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat autem cum facilis, corporis delectus porro rerum error non officiis hic, dicta culpa accusantium, quidem maiores.</p>
                </div>
                <div class="info-img-container">
                    <img src="./assests/img/info-semillas.jpg" alt="Granos de caf&eacute;">
                </div>
            </div>
            <div class="info">
                <div class="info-img-container">
                    <img src="./assests/img/info-cafeteria-vieja-2.jpg" alt="Imagen antigua de la cafeter&iacute;a">
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores optio hic aperiam commodi obcaecati laudantium soluta perferendis, quidem modi? Dicta exercitationem nihil assumenda totam corrupti rerum. Provident, eveniet neque!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis commodi eius, amet aperiam incidunt autem aliquid possimus veniam porro quae id inventore cupiditate tempora eveniet corrupti cumque, architecto voluptate natus.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod deserunt minima reprehenderit quidem fugit excepturi eos, accusamus voluptatibus quam pariatur!</p>
                </div>
            </div>
        </div>
    </div>
</section>